In [1]:
from pyspark import SparkContext

In [2]:
sc = SparkContext('local')

In [3]:
empList=['1,kim,000-000-000','2,lee,111-111-111',
       '3,park,222-222-222','4,song,333-333-333',
       '5,han,555-555-555','6,yoon,666-666-666']
deptList = ['1,sale','2,developer','3,manager',
           '4,sale1','5,developer1','6,manager1']

In [4]:
empRdd = sc.parallelize(empList)
deptRdd = sc.parallelize(deptList)

In [5]:
empRdd.collect()

['1,kim,000-000-000',
 '2,lee,111-111-111',
 '3,park,222-222-222',
 '4,song,333-333-333',
 '5,han,555-555-555',
 '6,yoon,666-666-666']

In [6]:
deptRdd.collect()

['1,sale', '2,developer', '3,manager', '4,sale1', '5,developer1', '6,manager1']

In [7]:
empRdd1 = empRdd.map(lambda v: v.split(','))
empRdd1.collect()

[['1', 'kim', '000-000-000'],
 ['2', 'lee', '111-111-111'],
 ['3', 'park', '222-222-222'],
 ['4', 'song', '333-333-333'],
 ['5', 'han', '555-555-555'],
 ['6', 'yoon', '666-666-666']]

In [9]:
empRdd2 = empRdd1.map(lambda v: (v[0], v[1]+' '+v[2]))
empRdd2.collect()

[('1', 'kim 000-000-000'),
 ('2', 'lee 111-111-111'),
 ('3', 'park 222-222-222'),
 ('4', 'song 333-333-333'),
 ('5', 'han 555-555-555'),
 ('6', 'yoon 666-666-666')]

In [11]:
deptRdd1 = deptRdd.map(lambda v: v.split(',')).map(lambda v: (v[0],v[1]))
deptRdd1.collect()

[('1', 'sale'),
 ('2', 'developer'),
 ('3', 'manager'),
 ('4', 'sale1'),
 ('5', 'developer1'),
 ('6', 'manager1')]

In [12]:
# join : 동일한 키로 rdd를 결합시켜주는 함수

joinData = empRdd2.join(deptRdd1)
joinData.collect()

[('1', ('kim 000-000-000', 'sale')),
 ('4', ('song 333-333-333', 'sale1')),
 ('2', ('lee 111-111-111', 'developer')),
 ('3', ('park 222-222-222', 'manager')),
 ('5', ('han 555-555-555', 'developer1')),
 ('6', ('yoon 666-666-666', 'manager1'))]

In [14]:
sortRdd = joinData.sortByKey()
sortRdd.collect()

[('1', ('kim 000-000-000', 'sale')),
 ('2', ('lee 111-111-111', 'developer')),
 ('3', ('park 222-222-222', 'manager')),
 ('4', ('song 333-333-333', 'sale1')),
 ('5', ('han 555-555-555', 'developer1')),
 ('6', ('yoon 666-666-666', 'manager1'))]

In [15]:
sortRdd.take(2)

[('1', ('kim 000-000-000', 'sale')), ('2', ('lee 111-111-111', 'developer'))]

In [17]:
sortRdd.first()

('1', ('kim 000-000-000', 'sale'))

In [18]:
sortRdd.countByKey()

defaultdict(int, {'1': 1, '2': 1, '3': 1, '4': 1, '5': 1, '6': 1})

In [19]:
sc.stop()