In [1]:
import pandas as pd
import numpy as np

In [37]:
data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

# 수정

In [7]:
# CRUD

sr[0]= 100

# 아래와 모두 같은 결과
# sr['aa'] = 100
# sr.loc['aa'] = 100
# sr.iloc[0]=100

In [11]:
# 슬라이싱을 통한 수정
sr[1:3] = [1, 2]
sr
# sr.iloc[1:3] = [1, 2]
# sr['bb':'cc'] = [1, 2]
# sr.loc['bb':'cc'] = [1, 2]

aa    100
bb      1
cc      2
dd     40
ee     50
Name: 국어점수, dtype: int64

In [16]:
sr['dd':'ee'] = sr['dd':'ee'] + 2
sr

aa    100
bb      1
cc      2
dd     44
ee     54
Name: 국어점수, dtype: int64

In [22]:
# 30이상인데이터에 5를 더한 값으로 수정하시요

sr[sr>=30] = sr[sr>=30]+5
sr

aa    10
bb    20
cc    45
dd    55
ee    65
Name: 국어점수, dtype: int64

# 추가

In [24]:
sr.loc['ff'] = 70 # 해당 인덱스가 있으면 수정 / 없으면 추가
sr

aa    10
bb    20
cc    45
dd    55
ee    70
ff    70
Name: 국어점수, dtype: int64

In [25]:
sr.append(pd.Series([80, 90, 100], index=['gg', 'hh', 'ii'])) # append를 할 때 데이터를 시리즈로 주게 되어 있음
# sr = sr.append(pd.Series([80, 90, 100], index=['gg', 'hh', 'ii']))

aa     10
bb     20
cc     45
dd     55
ee     70
ff     70
gg     80
hh     90
ii    100
dtype: int64

# 삭제

In [28]:
# sr.drop(부여된 인덱스)
# sr.drop([0, 2]) error

# sr = sr.drop(['aa', 'cc'])
# inplace인자가 있는 경우, inplace=True를 하면 시리즈 자체에 삭제를 적용시킴
sr.drop(['aa', 'cc'], inplace=True)

In [45]:
sr1 = sr[sr>=25]
sr1.index
#sr[sr>=25].index

Index(['aa', 'cc', 'dd', 'ee'], dtype='object')

In [34]:
# 25 이상인 데이터를 삭제하시오
sr.drop(sr[sr>=25].index, inplace=True)
sr

aa    10
bb    20
Name: 국어점수, dtype: int64

In [44]:
sr

aa    100
bb     20
cc     30
dd     40
ee     50
Name: 국어점수, dtype: int64

# 정렬

In [40]:
sr[0] = 100
sr

aa    100
bb     20
cc     30
dd     40
ee     50
Name: 국어점수, dtype: int64

In [43]:
sr.sort_values(ascending=False)
# ascending 인자로 내림차순, 오름차순 정렬 가능

aa    100
ee     50
dd     40
cc     30
bb     20
Name: 국어점수, dtype: int64

In [47]:
sr.sort_index(ascending=False)

ee     50
dd     40
cc     30
bb     20
aa    100
Name: 국어점수, dtype: int64

In [48]:
sr

aa    100
bb     20
cc     30
dd     40
ee     50
Name: 국어점수, dtype: int64