In [1]:
import pandas as pd
import numpy as np

In [2]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [4]:
df.ndim # 몇 차원

2

In [5]:
df.shape # 4행 3열

(4, 3)

In [8]:
# 행의 개수
df.shape[0]

# len(df) # 행의 개수

4

In [7]:
df.size # 총 데이터의 개수

12

In [9]:
df.T # 칼럼을 인덱스로, 인덱스를 칼럼으로 바꿈

       a   b   c   d
eng   10  30  50  70
kor   20  40  60  80
math  90  50  20  70

In [10]:
df.index
# df.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
df.columns

Index(['eng', 'kor', 'math'], dtype='object')

In [13]:
df.values

array([[10, 20, 90],
       [30, 40, 50],
       [50, 60, 20],
       [70, 80, 70]], dtype=int64)

In [15]:
df.dtypes
# df.dtypes[0]
# df.dtypes['a']
# 시리즈로 반환

eng     int64
kor     int64
math    int64
dtype: object

In [16]:
df.info() # 속성은 아니고 멤버함수 - 칼럼별 타입, 결측치 확인

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eng     4 non-null      int64
 1   kor     4 non-null      int64
 2   math    4 non-null      int64
dtypes: int64(3)
memory usage: 288.0+ bytes