In [1]:
import pandas as pd
import numpy as np

In [2]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [3]:
# df['a'] error
# df['칼럼명']
df['eng']

a    10
b    30
c    50
d    70
Name: eng, dtype: int64