In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import matplotlib
matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus']=False

In [6]:
birthDF = pd.read_csv('../data/births.txt', header=None, index_col=0)
birthDF.columns = ['남아수', '여아수']
birthDF.index.name = '년도'
birthDF

          남아수      여아수
년도
1880    90993   110491
1881    91954   100745
1882   107850   113688
1883   112321   104629
1884   129022   114445
...       ...      ...
2007  1919408  2072139
2008  1887234  2036289
2009  1832925  1979303
2010  1772738  1913851
2011  1753500  1893230

[132 rows x 2 columns]

# 1. 남아 ,여아 출생 평균을 구하시오.

In [ ]:
2. 2000년대 이후데이터를 구하시요
년도   남아   여아
==============
2000     xx     xx

In [ ]:
3. 남아출생이 가장많은 년도와 남아수를 구하시요.

In [ ]:
4. 남아출생이 가장많은 top5
를 구하시요(년도와 남아수)

In [ ]:
5. 남아율(%) 을 구하고 각년도별
남아수가 차지하는비율을 데이터로
보여주시요.
남아    여아    남아율
===================
..

In [ ]:
6. 2000년도 이후데이터 에 대해
출생량 을 구하고
남아수가 1800000 이상이면 '많음'아니면 '적음'
이라고 보여 주시요
	남아수 출생량
2000   1233   '많음'
2001   1234   '적음'

In [ ]:
7. 1800년대,1900년대,2000년대 
각 남아,여야수 평균을 구하시요

In [ ]:

8. 여아 25%~75%사이의 값을 구하시요

In [ ]:
9. 2000년대 남아데이터를 바차트로 그리시요.