In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from datetime import datetime 
from pandas_datareader import data

matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = False

## 1. 삼성 주식 데이터 수집

In [46]:
# data.get_data_yahoo(종목코드, 시작날짜, 끝날짜)
# 삼성전자
samsungDF = data.get_data_yahoo('005930.KS','2021-01-01')
samsungDF

             High    Low   Open  Close    Volume  Adj Close
Date
2021-01-04  84400  80200  81000  83000  38655276      83000
2021-01-05  83900  81600  81600  83900  35335669      83900
2021-01-06  84500  82100  83300  82200  42089013      82200
2021-01-07  84200  82700  82800  82900  32644642      82900
2021-01-08  90000  83000  83300  88800  59013307      88800
2021-01-11  96800  89500  90000  91000  90306177      91000
2021-01-12  91400  87800  90300  90600  48374700      90600

In [47]:
samsungDF = samsungDF.reset_index()

In [48]:
samsungDF = samsungDF.drop(['Volume','High','Low','Open','Adj Close'],axis=1)

In [49]:
samsungDF

        Date  Close
0 2021-01-04  83000
1 2021-01-05  83900
2 2021-01-06  82200
3 2021-01-07  82900
4 2021-01-08  88800
5 2021-01-11  91000
6 2021-01-12  90600

In [50]:
# header = False 컬럼명을 제외하고 저장
samsungDF.to_csv('samsung.txt', index=False, header=False)