In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [3]:
sr.dtype

dtype('int64')

In [4]:
sr.ndim # 몇 차원 - 1차원이기 때문에 벡터랑 같은

1

In [5]:
sr.shape

(5,)

In [6]:
sr.size # 전체 데이터의 개수

5

In [7]:
sr.name

'국어점수'

In [10]:
print(sr.index)
print(type(sr.index))

Index(['aa', 'bb', 'cc', 'dd', 'ee'], dtype='object')
<class 'pandas.core.indexes.base.Index'>

In [12]:
# ndarray이기 때문에 속성 메서드를 사용할 수 있음
arr = sr.values
arr
# arr.sum()

array([10, 20, 30, 40, 50], dtype=int64)