In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [3]:
sr.index

Index(['aa', 'bb', 'cc', 'dd', 'ee'], dtype='object')

# 산술 관계 논리(element wise)

In [4]:
sr + 1

aa    11
bb    21
cc    31
dd    41
ee    51
Name: 국어점수, dtype: int64

In [5]:
sr*2

aa     20
bb     40
cc     60
dd     80
ee    100
Name: 국어점수, dtype: int64

In [8]:
#문제 세금3.3을 제한 실수령액을 구하시요
salary = pd.Series([1000,2000,3000,4000])

In [9]:
salary*(1-0.033)

0     967.0
1    1934.0
2    2901.0
3    3868.0
dtype: float64

In [11]:
sr[sr >= 30]
# 불리안 인덱싱

cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [13]:
sr[(sr == 20) | (sr == 40)]

bb    20
dd    40
Name: 국어점수, dtype: int64

In [14]:
sr[(sr >= 20) & (sr<=40)]

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [15]:
sr[~((sr >= 20) & (sr<=40))]

aa    10
ee    50
Name: 국어점수, dtype: int64

In [17]:
# sr[(sr == 20) | (sr == 40)]
# or
# isin 멤버함수를 써서 True, False를 뽑아낼 수 있음
sr[sr.isin([20, 40])]

bb    20
dd    40
Name: 국어점수, dtype: int64

In [18]:
# sr[~((sr >= 20) & (sr<=40))]
sr[~sr.isin([20, 40])]

aa    10
cc    30
ee    50
Name: 국어점수, dtype: int64

In [20]:
# sr[(sr >= 20) & (sr<=40)]
# and
sr[sr.between(20, 40)]

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [22]:
sr[sr.index == 'bb']

bb    20
Name: 국어점수, dtype: int64

In [24]:
sr[sr.index.isin(['aa', 'cc'])]

aa    10
cc    30
Name: 국어점수, dtype: int64

In [6]:
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64