In [1]:
import pandas as pd
import numpy as np

In [2]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

# 인덱싱

In [3]:
# df['a'] error
# df['칼럼명']
df['eng']

a    10
b    30
c    50
d    70
Name: eng, dtype: int64

In [6]:
# df['eng'].시리즈의 속성(메서드)
# df['eng'].sum()
df['eng']['a':'c']
# sr = df['eng']
# sr

a    10
b    30
c    50
Name: eng, dtype: int64

In [5]:
df[['eng', 'math']] # 복수개 칼럼 선택 # 데이터프레임

   eng  math
a   10    90
b   30    50
c   50    20
d   70    70

In [7]:
df[['eng']] # 데이터프레임

   eng
a   10
b   30
c   50
d   70

#  슬라이싱은 row 단위로!!
# df[슬라이싱]

In [8]:
df[1:3]

   eng  kor  math
b   30   40    50
c   50   60    20

In [9]:
df['b':'c']

   eng  kor  math
b   30   40    50
c   50   60    20

# iloc 인덱싱 슬라이싱(제로 베이스 기준)

# df.iloc[행, 열]

In [10]:
df.iloc[0]
# 시리즈로 반환

eng     10
kor     20
math    90
Name: a, dtype: int64

In [11]:
df.iloc[0, 0]

10

In [12]:
df.iloc[[0, 2, 3]]

   eng  kor  math
a   10   20    90
c   50   60    20
d   70   80    70

In [13]:
df.iloc[1:]

   eng  kor  math
b   30   40    50
c   50   60    20
d   70   80    70

In [14]:
df.iloc[1:, 1]

b    40
c    60
d    80
Name: kor, dtype: int64

In [15]:
df.iloc[1:, 1:]

   kor  math
b   40    50
c   60    20
d   80    70

In [16]:
df.iloc[:,:-1]

   eng  kor
a   10   20
b   30   40
c   50   60
d   70   80

In [17]:
df.iloc[1:3, [0, 2]]

   eng  math
b   30    50
c   50    20

# lco 인덱싱 슬라이싱(부여된 인덱스 기준)

# df.loc[행, 열]

In [20]:
df.loc['a']
# 시리즈로 반환

eng     10
kor     20
math    90
Name: a, dtype: int64

In [21]:
df.loc['a':'c']

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20

In [22]:
df.loc[['a', 'c', 'd']]

   eng  kor  math
a   10   20    90
c   50   60    20
d   70   80    70

In [24]:
df.loc['b':, 'kor']
# 시리즈로 반환

b    40
c    60
d    80
Name: kor, dtype: int64

In [25]:
df.loc['b':, 'kor':]

   kor  math
b   40    50
c   60    20
d   80    70

In [26]:
df.loc['b':'c', ['eng', 'math']]

   eng  math
b   30    50
c   50    20

In [4]:
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70