In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import matplotlib
matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus']=False

In [4]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

# 데이터프레임 통계함수 디폴트(컬럼별) axis=1 (row별)

In [6]:
df.sum() # 칼럼별
# df.sum(axis=0) 
# 시리즈로 반환

# 넘파이에서는 전체 합

eng     160
kor     200
math    230
dtype: int64

In [7]:
# 시리즈로 반환
df.sum(axis=1)

a    120
b    120
c    130
d    220
dtype: int64

In [8]:
# 전체 합 구하기
df.sum().sum()
# sr = df.sum()
# sr.sum()

# df.values.sum()

590

In [10]:
# 데이터프레임을 시리즈로 변환 - 멀티 인덱스가 생김
sr = df.unstack()
sr
# sr.index

eng   a    10
      b    30
      c    50
      d    70
kor   a    20
      b    40
      c    60
      d    80
math  a    90
      b    50
      c    20
      d    70
dtype: int64

In [12]:
# 멀티인덱스
sr['eng']['a']

10

In [13]:
# 데이터 전체 합 구하기
df.unstack().sum()

590

In [14]:
df.mean()

eng     40.0
kor     50.0
math    57.5
dtype: float64

In [16]:
df.mean(axis=1).round(2)

a    40.00
b    40.00
c    43.33
d    73.33
dtype: float64

In [18]:
df.mean().mean()

49.166666666666664

In [19]:
df.values.mean()

49.166666666666664

In [17]:
df.max()

eng     70
kor     80
math    90
dtype: int64

In [20]:
df.max(axis=1)

a    90
b    50
c    60
d    80
dtype: int64

In [21]:
df.max().max()

90

In [22]:
df.min()

eng     10
kor     20
math    20
dtype: int64

In [23]:
df.idxmax() # 칼럼별 가장 큰 값의 인덱스

eng     d
kor     d
math    a
dtype: object

In [24]:
df.idxmax(axis=1)

a    math
b    math
c     kor
d     kor
dtype: object

In [25]:
df.median()

eng     40.0
kor     50.0
math    60.0
dtype: float64

In [26]:
df.median(axis=1)

a    20.0
b    40.0
c    50.0
d    70.0
dtype: float64

In [27]:
df.std()

eng     25.819889
kor     25.819889
math    29.860788
dtype: float64

In [29]:
df.quantile([0.25, 0.5, 0.75])

       eng   kor  math
0.25  25.0  35.0  42.5
0.50  40.0  50.0  60.0
0.75  55.0  65.0  75.0

In [30]:
df.count() # 각 칼럼별 개수

eng     4
kor     4
math    4
dtype: int64

In [33]:
# df.describe()['eng']
df.describe()

             eng        kor       math
count   4.000000   4.000000   4.000000
mean   40.000000  50.000000  57.500000
std    25.819889  25.819889  29.860788
min    10.000000  20.000000  20.000000
25%    25.000000  35.000000  42.500000
50%    40.000000  50.000000  60.000000
75%    55.000000  65.000000  75.000000
max    70.000000  80.000000  90.000000

In [5]:
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70